zstd compression support

## Description

we're using [zstd](https://github.com/facebook/zstd) compression between some of our services, and currently in proxyman I'm only able to visualize the binary data for the response body; other content encodings like gzip seem to be supported, so I'm guessing this is a feature request and not a bug

## Why this feature/change is important?

currently I'm forced to always download the request body to disk and then use the `zstd` cli to obtain plain text that I can use to debug what's going on, which slows me down

thanks for developing this app! 🙂 

Thanks for opening the ticket.

Does the zstd is defined in the Header Content Encoding?

yep! `Content-Encoding: zstd`

You can do a quick hack, by removing the Accept-Encoding in the Request -> Your server doesn't compress with the `zstd` -> You can preview it on Proxyman -> Your client can get the uncompressed data since the Content-Encoding is omit.

You can use the Scripting with On Request mode:
```js
function onRequest(context, url, request) {
    delete request.headers["Accept-Encoding"];
    return request;
}
```

nice! I haven't used the scripting feature on proxyman yet, so I didn't think about this use case
I got it working, thanks for the suggestion, but if at some point zstd support could be added I think that would be nice 🙂 

Glad it helps you @rockmandash 👍 

Is there any update on this one?

While the tip is indeed helpful, it does introduce some (in my opinion) unnecessary difference in behaviour between the 'prod' app and the app under investigation. Might also be less convenient for projects and teams of a larger scale.

Let me try to add it, and send a Beta build to you 👍 

@pavelhiq @rockmandash @aexvir if you don't mind, let's try this Beta build: https://download.proxyman.io/beta/Proxyman_5.9.0_Support_zstd.dmg

- Proxyman now tries to decompress your zstd body if this header `Content-Encoding: zstd` exist 👍 
- Work with Request and Response Body
- Use the latest zstd lib

@NghiaTranUIT that was soo quick, thank you!

I've now tried the beta you provided, however I could not get it working.

The response does contain the `content-encoding: zstd` (lowercased!) header. But I still see `Preview Not Support!` in the `Body` tab. Lowercasing should be fine according to [RFC 7540, section 8.1.2](https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2). Could that be the reason for not showing decoded content?

I tried to verify that guess myself with the help of scripting, similar to what you provided above:
```javascript
function onResponse(context, url, request, response) {
  delete response.headers["content-encoding"];
  response.headers["Content-Encoding"] = "zstd";
  return response;
}
```
Had to remove `async` from the template though. What I can see is:
- apparently some decoding takes place
- the `Body` tab now shows an array of bytes
- the `Content-Encoding` header is _not_ showing any longer in the `Header` tab

Is that expected or am I doing smth wrong?


Hm, it's odd, I tested with my local ExpressJS server, and it works fine with [simple-zstd](https://www.npmjs.com/package/simple-zstd).

If you don't mind @pavelhiq , please share your sample request with nghia@proxyman.io (Right click on the request -> Export -> ProxymanLog). I'd like to investigate it 👍 

Second question: 

Does your Response body compress by zstd (with `Content-Type: application/zstd`), or a text-based (but use ztd compression when transferring the data (Content-Encoding)?)

> content-encoding: zstd

It's not matter, I handle both case

sorry, I dont have a suitable request that I could raw-export. but I do my best to provide details as much as possible)

> or a text-based (but use ztd compression when transferring the data (Content-Encoding)?)

to me this reflects how it works, yes. So first the body needs to be decompressed with zstd (because of the `content-encoding: zstd` header), then the `Content-Type: application/json` steps in, the body to be interpreted as json.

Btw, with no scripting, if I just export the binary response and then decompress with the cli tool - it works. Like this
```
% zstd --version                                 
*** Zstandard CLI (64-bit) v1.5.6, by Yann Collet ***
% zstd -d api_5_main_shortcuts -o shortcuts.json
api_5_main_shortcuts: 27289 bytes
```

@pavelhiq I'm able to reproduce this issue. Tested with facebook.com, some requests are decompressed successfully (zst), and some won't. Not sure why it's. 

I'm fixing and will send you new update 👍 

@pavelhiq it's fixed 👍 

- Beta build: https://download.proxyman.io/beta/Proxyman_5.9.0_Support_zstd_v2.dmg
- Turn out some zstd packages don't include the Content Size header, so it needs to decode with a Streaming Mode 
- Tested with www.facebook.com, it uses zstd a lot 👍 

yes, will release in 5.10.0, maybe next week 👍 

Hey @NghiaTranUIT - sorry to resurrect this old issue.

I am using 6.10.0 and not sure if this has been released. I primarily use Proxyman to go through HAR files from my application as debugging purposes - I have a *request* that has been encoded with `zstd`, and the request header contains `Content-Encoding: zstd`, but when I check the request body, it's all encoded.

I can't seem to find any options to forcefully decode the body. Is there a way?

@bt  Proxyman has officially supported zstd. It's automatically decoded during capturing, not from the HAR file. I will support it and send you soon 👍 



@bt can you try with this Beta build: https://assets.proxyman.com/beta/Proxyman_6.11.0_decode_zstd_from_HAR.dmg ?

If it doesn't work, please share your HAR to me at support@proxyman.com 👍 

> [@bt](https://github.com/bt) can you try with this Beta build: https://assets.proxyman.com/beta/Proxyman_6.11.0_decode_zstd_from_HAR.dmg ?
> 
> If it doesn't work, please share your HAR to me at [support@proxyman.com](mailto:support@proxyman.com) 👍

Thanks for the quick turnaround - I just tried this beta but it doesn't seem to decode the content.

I unfortunately can't share the HAR because it contains sensitive information, is there another way I can assist?

@bt when you open the Raw Tab or Body Tab, what did you see ? If you don't mind, share with me a screenshot how it looks. You can censor your private data