Unable to proxy HTTP requests with Expect: continue header

## Description

Proxying a `PUT` with `Expect: 100-continue`  header causes the client to fail with a connection timeout. 

## Steps to Reproduce

Proxy a request like 

```
PUT http://localhost.proxyman.io:2222/GB7qQvzO HTTP/1.1
Expect: 100-continue
Content-Length: 4
Content-Type: application/octet-stream
Host: localhost.proxyman.io:2222
Proxy-Connection: Keep-Alive
Accept-Encoding: gzip,deflate
Authorization: ********
```

## Current Behavior

Client application timeout waiting for 100-continue response from server as suggested by RFC 2616 section 8.2.3

## Expected Behavior

Proxy should relay server response before method body.

## Environment

- App version: Version 4.12.0 (49300)
- macOS version: 14.0 (23A344)
